*{
    /* background-color: black; */
}

body {
	background: #fffdfd;
	margin: 0px;
}


/* ------------------------------------------------------ Home Page CSS -----------------------------------------------------*/

div.home {
    text-align: center;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#playGame {
    font-size: 20px;
}

    /* Home Page Selection */

    .select-playerNum{
    display: flex;
    }

    .playerNumOption{
    width: 20vw;
    height: 30vh;
    font-size: 50px;
    border: black 1px solid;
    margin: 5%;
    }

    #playGame{
        display: none;
    }
  

/* -------------------------------------------------------- gamepage CSS -------------------------------------------------------*/


/* game left column: */

.gamePage {
    display: none;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-items: center;
    padding: 15px;
    height: 100vh;
}

.playerStats {
    grid-column-start: 1;
    border: 1px solid ;
    width: 15vw
}

    /* monopoly board */

    #board {
        grid-column-start: 2;
        grid-row-start: 1;
        /* border: 1px solid black; */
        /* border-spacing: 2px; */
        /* margin: 0px; */
        float: left;
    }
    
    #boardWrapper{
        display: grid;
        grid-template-columns: 88px repeat(9,66px) 88px;
        grid-template-rows: 88px repeat(9,66px) 88px;
        column-gap: 2px;
        row-gap: 2px;
    }


    .board-center{
        border: hidden;
        grid-column: 2 / span 9;
        
    }
    
    .top, .bottom{
        width: 66px;
        height: 88px;
    }
    .left, .right{
        width: 66px;
        /* height: 88px; */
        transform: rotate(-90deg); 
    } 

    .player1Loc{
        background-color: blue;
    }

/* game right column: */

#gameSum{
    grid-column-start: 3;
    grid-row-start: 1;
    border: 1px solid ;
    width: 15vw

}

#backToHome{
  grid-column-start: 3;
  height: 100PX;
  
}

    /* roll dice: */
    .dice-wrapper{
        grid-column-start: 3;
        grid-row-start: 2;
        margin: 20px;
    }

    .dice1{
        background-image: url("../../asset/dice-1.svg");
        height: 50px;
        width: 50px;
    }
    .dice2{
        background-image: url("../../asset/dice-2.svg");
        height: 50px;
        width: 50px;
    }
    .dice3{
        background-image: url("../../asset/dice-3.svg");
        height: 50px;
        width: 50px;
    }
    .dice4{
        background-image: url("../../asset/dice-4.svg");
        height: 50px;
        width: 50px;
    }
    .dice5{
        background-image: url("../../asset/dice-5.svg");
        height: 50px;
        width: 50px;
    }
    .dice6{
        background-image: url("../../asset/dice-6.svg");
        height: 50px;
        width: 50px;
    }

/* others: */

