*{
    /* background-color: black; */
}

body {
	background: #fffdfd;
	margin: 0px;
}


/* ------------------------------------------------------ Home Page CSS -----------------------------------------------------*/

div.home {
    text-align: center;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#playGame {
    font-size: 20px;
}

    /* Home Page Selection */

    .select-playerNum{
    display: flex;
    }

    .playerNumOption{
    width: 20vw;
    height: 30vh;
    font-size: 50px;
    border: black 1px solid;
    margin: 5%;
    }

    #playGame{
        display: none;
    }
  

/* -------------------------------------------------------- gamepage CSS -------------------------------------------------------*/


/* game left column: */

.gamePage {
    display: none;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-items: center;
    padding: 15px;
    height: 100vh;
}

.playerStats {
    grid-column-start: 1;
    border: 1px solid ;
    width: 15vw
}

    /* monopoly board */

    #board {
        grid-column-start: 2;
        grid-row-start: 1;
        /* border: 1px solid black; */
        /* border-spacing: 2px; */
        /* margin: 0px; */
        float: left;
    }
    
    #boardWrapper{
        display: grid;
        grid-template-columns: 88px repeat(9,66px) 88px;
        grid-template-rows: 88px repeat(9,66px) 88px;
        column-gap: 2px;
        row-gap: 2px;
    }
    
    
    .board-center{
        border: hidden;
        grid-column: 2 / span 9;
        
    }
    
    .top, .bottom{
        width: 66px;
        height: 88px;
    }
    .left, .right{
        width: 66px;
        height:88px;
        transform: rotate(-90deg) translate(-66px); 
        transform-origin: top left;
    } 

    .player1Loc{
        background-image: url("../../asset/dice-1.svg");
        background-size: 2vh;
        background-repeat: no-repeat;
        background-position-y: 1vh;
        background-blend-mode:screen;

    }

    .player2Loc{
        background-image: url("../../asset/dice-1.svg");
        background-size: 2vh;
        background-repeat: no-repeat;
        background-position-y: 3vh;
        background-blend-mode: screen;

    }

    .player3Loc{
        background-image: url("../../asset/dice-1.svg");
        background-size: 2vh;
        background-repeat: no-repeat;
        background-position-y: 5vh;
        background-blend-mode: screen;
    }
    .player4Loc{
        background-image: url("../../asset/dice-1.svg");
        background-size: 2vh;
        background-repeat: no-repeat;
        background-position-y: 7vh;
        background-blend-mode: screen;

    }

/* game right column: */

#gameSum{
    grid-column-start: 3;
    grid-row-start: 1;
    border: 1px solid ;
    width: 15vw

}

#backToHome{
  grid-column-start: 3;
  height: 100PX;
  
}

    /* roll dice: */

    /* .dice-wrapper{
        grid-column-start: 3;
        grid-row-start: 2;
        margin: 20px;
    } */

    .dice-wrapper {
        visibility: hidden;
        width: 160px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border: indigo 1px solid;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 50%;
        left: 50%;
        margin-left: -80px;
      }

      .dice-wrapper.show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s
      }

      .diceBtns{
        border: 0px;
        visibility: hidden;
      }

      .diceBtns.show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s
      }
    
    .dice1{
        background-image: url("/asset/dice-1.svg");
        height: 50px;
        width: 50px;
    }
    .dice2{
        background-image: url("/asset/dice-2.svg");
        height: 50px;
        width: 50px;
    }
    .dice3{
        background-image: url("/asset/dice-3.svg");
        height: 50px;
        width: 50px;
    }
    .dice4{
        background-image: url("/asset/dice-4.svg");
        height: 50px;
        width: 50px;
    }
    .dice5{
        background-image: url("/asset/dice-5.svg");
        height: 50px;
        width: 50px;
    }
    .dice6{
        background-image: url("/asset/dice-6.svg");
        height: 50px;
        width: 50px;
    }

/* others: */

/* buyOrRent Pop up Window: */
.buyWrapper {
    visibility: hidden;
    width: 160px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: indigo 1px solid;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 50%;
    margin-left: -80px;
  }
  
  .buyWrapper.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

  .RentWrapper {
    visibility: hidden;
    width: 160px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: indigo 1px solid;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 50%;
    margin-left: -80px;
  }
  
  .RentWrapper.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/* Pass Go Pop up Window: */
.PassGoWrapper {
    visibility: hidden;
    width: 160px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: indigo 1px solid;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 50%;
    margin-left: -80px;
  }
  
  .PassGoWrapper.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

  /* Illegal Parking Pop up Window: */
.illegalParkingWrapper {
    visibility: hidden;
    width: 160px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: indigo 1px solid;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 50%;
    margin-left: -80px;
  }
  
  .illegalParkingWrapper.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

    /* Free Parking Pop up Window: */
.freeParkingWrapper {
  visibility: hidden;
  width: 160px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: indigo 1px solid;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-left: -80px;
}

.freeParkingWrapper.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Free Parking Pop up Window: */
.freeParkingWrapper {
  visibility: hidden;
  width: 160px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: indigo 1px solid;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-left: -80px;
}

.freeParkingWrapper.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* In Jail Pop up Window: */
.inJailWrapper {
  visibility: hidden;
  width: 160px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: indigo 1px solid;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-left: -80px;
}

.inJailWrapper.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Out of Jail Pop up Window: */
.outOfJailWrapper {
  visibility: hidden;
  width: 160px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: indigo 1px solid;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-left: -80px;
}

.outOfJailWrapper.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Winner Pop up Window: */
.winnerWrapper {
  visibility: hidden;
  width: 160px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: indigo 1px solid;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-left: -80px;
}

.winnerWrapper.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
/* Winner Pop up Window: */
.outOfGameWrapper {
  visibility: hidden;
  width: 160px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: indigo 1px solid;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-left: -80px;
}

.outOfGameWrapper.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Chance Card Pop up Window: */
.chanceCardWrapper {
  visibility: hidden;
  width: 160px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: indigo 1px solid;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-left: -80px;
}

.chanceCardWrapper.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
.card0{
  background-image: url("/asset/chance-card-0.svg");
  height: 88px;
  width: 66px;
}
.card1{
  background-image: url("/asset/chance-card-1.svg");
  height: 88px;
  width: 66px;
}
.card2{
  background-image: url("/asset/chance-card-2.svg");
  height: 88px;
  width: 66px;
}
.card3{
  background-image: url("/asset/chance-card-3.svg");
  height: 88px;
  width: 66px;
}
.card4{
  background-image: url("/asset/chance-card-4.svg");
  height: 88px;
  width: 66px;
}
.card5{
  background-image: url("/asset/chance-card-5.svg");
  height: 88px;
  width: 66px;
}
.card6{
  background-image: url("/asset/chance-card-6.svg");
  height: 88px;
  width: 66px;
}
.card7{
  background-image: url("/asset/chance-card-7.svg");
  height: 88px;
  width: 66px;
}
.card8{
  background-image: url("/asset/chance-card-8.svg");
  height: 88px;
  width: 66px;
}
.card9{
  background-image: url("/asset/chance-card-9.svg");
  height: 88px;
  width: 66px;
}
.CardBtns{
  border: 0px;
  visibility: hidden;
}

.CardBtns.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}