*{
    /* background-color: black; */
}

body {
	background: #fffdfd;
	margin: 0px;
}


/* Home Page CSS */

section.home {
    text-align: center;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#playerNumInput{
    margin: 20px;
}

#playGame {
    font-size: 20px;
    /* position: absolute; */
}

/* dropdown menu */

  
  .select-box {
    width: 400px;
  }
  
  .select-box .options-container {
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    order: 1;
  }
  
  .selected {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
  
    order: 0;
  }
  
  .selected::after {
    content: "";
    /* background: url("img/arrow-down.svg"); */
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;
  
    transition: all 0.4s;
  }
  
  .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
  }
  
  .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
  }
  
  .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
  }
  
  .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
  }
  
  .option, .selected {
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .option:hover {
    background: #414b57;
  }
  
  .select-box label {
    cursor: pointer;
  }
  
  .select-box .option .radio {
    display: none;
  }
  

/* gamepage CSS */

.gamePage {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-items: center;
    padding: 15px;

}

.playerStats {
    grid-column-start: 1;
    border: 1px solid ;
    width: 15vw
}


#board {
    grid-column-start: 2;
    grid-row-start: 1;
	border: 1px solid black;
	border-spacing: 2px;
	margin: 25px;
	float: left;
    width: 800px;
    height: 800px
}

#gameSum{
    grid-column-start: 3;
    grid-row-start: 1;
    border: 1px solid ;
    width: 15vw

}

td {
    border: 1px solid black;
}

.board-center{
    border: hidden;
}

.top, .bottom{
    width: 66px;
    height: 88px

}
.left, .right{
    width: 88px;
    height: 66px

}