*{
    /* background-color: #484d9e; */
  }
  
  body {
    margin: 0px;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
    background-image: url("./asset/BG.svg");
    background-size: cover;
  }
  
  button{
    border:0px;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
    background-color: #f0aa07;
  }
  button:hover{
    background-color: #c468c7;
  }
  
  /* ------------------------------------------------------ Home Page CSS -----------------------------------------------------*/
  
  div.home {
    text-align: center;
    margin: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#playGame {
    font-size: 20px;
}
h1{
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: 80px;
  font-weight: 100;
}

    /* Home Page Selection */

    .select-playerNum{
    display: flex;
    }

    .playerNumOption{
    width: 20vw;
    height: 30vh;
    font-size: 20vh;
    font-family: 'Zen Tokyo Zoo', cursive;
    text-align: center;
    vertical-align: middle;
    line-height: 25vh;
    border: white 1px solid;
    border-radius: 35%;
    margin: 5%;
    }
    .playerNumOption:hover{
      background-color: #f0aa07;
      }

    #playGame{
        display: none;
        margin-top: 2vh;
    }
  

/* -------------------------------------------------------- gamepage CSS -------------------------------------------------------*/


.gamePage {
  display: none;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  justify-items: center;
  padding: 15px;
  height: 90vh;
  margin: 5vh;
}


/* game left column: */
.playerStats {
    grid-column-start: 1;
    border: #f0aa07 1px solid ;
    background-color: #696ebd;
    border-radius: 5vh;
    padding: 2vh;
    width: 15vw;
    visibility: hidden;
    text-align: center;
    align-self: center;
}
.playerStats.show {
  visibility: visible;
}

    /* monopoly board */

    #board {
        grid-column-start: 2;
        grid-row-start: 1;
        float: left;
    }
    
    #boardWrapper{
        display: grid;
        grid-template-columns: 88px repeat(9,66px) 88px;
        grid-template-rows: 88px repeat(9,66px) 88px;
        column-gap: 2px;
        row-gap: 2px;
    }
    
    
    .board-center{
        border: hidden;
        grid-column: 2 / span 9;
        
    }
    
    .top, .bottom{
        width: 66px;
        height: 88px;
    }
    .left, .right{
        width: 66px;
        height:88px;
        transform: rotate(-90deg) translate(-66px); 
        transform-origin: top left;
    } 

    .player1Loc{
        background-image: url("./asset/dice-1.svg");
        background-size: 2vh;
        background-repeat: no-repeat;
        background-position-y: 1vh;
        background-blend-mode:screen;

    }

    .player2Loc{
        background-image: url("./asset/dice-1.svg");
        background-size: 2vh;
        background-repeat: no-repeat;
        background-position-y: 3vh;
        background-blend-mode: screen;

    }

    .player3Loc{
        background-image: url("./asset/dice-1.svg");
        background-size: 2vh;
        background-repeat: no-repeat;
        background-position-y: 5vh;
        background-blend-mode: screen;
    }
    .player4Loc{
        background-image: url("./asset/dice-1.svg");
        background-size: 2vh;
        background-repeat: no-repeat;
        background-position-y: 7vh;
        background-blend-mode: screen;

    }

/* game right column: */

#gameSum{
    grid-column-start: 3;
    grid-row-start: 1;
    border: #f0aa07 1px solid ;
    background-color: #696ebd;
    border-radius: 5vh;
    padding: 2vh;
    width: 15vw;
    text-align: center;
    align-self: center;
    font-size: 3vh;
}

#backToHome{
  grid-column-start: 3;
  grid-row-start: 5;
  height: 50px;
}

    /* roll dice: */

    .dice-wrapper {
        visibility: hidden;
        width: 200px;
        height: 300px;
        /* background-color: rgb(255, 255, 255); */
        /* color: rgb(0, 0, 0); */
        border: #f0aa07 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5vh;
        padding: 8px;
        position: absolute;
        z-index: 1;
        bottom: 35%;
        left: 50%;
        padding: 20px;
        margin-left: -15vh;
      }

      .dice-wrapper.show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s
      }

      .diceBtns{
        border: 0px;
        visibility: hidden;
      }

      .diceBtns.show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s
      }
    
    .dice1{
        background-image: url("./asset/dice-1.svg");
        height: 50px;
        width: 50px;
        margin: auto;
    }
    .dice2{
        background-image: url("./asset/dice-2.svg");
        height: 50px;
        width: 50px;
        margin: auto;
    }
    .dice3{
        background-image: url("./asset/dice-3.svg");
        height: 50px;
        width: 50px;
        margin: auto;
        
 
    }
    .dice4{
        background-image: url("./asset/dice-4.svg");
        height: 50px;
        width: 50px;
        margin: auto;
    }
    .dice5{
        background-image: url("./asset/dice-5.svg");
        height: 50px;
        width: 50px;
        margin: auto;
    }
    .dice6{
        background-image: url("./asset/dice-6.svg");
        height: 50px;
        width: 50px;
        margin: auto;
    }

/* others: */

/* buyOrRent Pop up Window: */
.buyWrapper, .RentWrapper,.PassGoWrapper, .illegalParkingWrapper,.freeParkingWrapper,.freeParkingWrapper,.inJailWrapper,.outOfJailWrapper ,.winnerWrapper,.outOfGameWrapper {
  visibility: hidden;
  width: 200px;
  height: 300px;
  /* background-color: rgb(255, 255, 255); */
  /* color: rgb(0, 0, 0); */
  border: #f0aa07 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5vh;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 35%;
  left: 50%;
  padding: 20px;
  margin-left: -15vh;
}    
  
  .buyWrapper.show, .RentWrapper.show,.PassGoWrapper.show,  .illegalParkingWrapper.show,.freeParkingWrapper.show,.freeParkingWrapper.show,.inJailWrapper.show,.outOfJailWrapper.show ,.winnerWrapper.show, .outOfGameWrapper.show  {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  } 

  /* .RentWrapper {
    visibility: hidden;
    width: 160px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: indigo 1px solid;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 50%;
    margin-left: -80px;
  } */
  
  /* .RentWrapper.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  } */

  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/* Pass Go Pop up Window: */
/* .PassGoWrapper {
    visibility: hidden;
    width: 160px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: indigo 1px solid;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 50%;
    margin-left: -80px;
  } */
  
  /* .PassGoWrapper.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  } */

  /* Illegal Parking Pop up Window: */
/* .illegalParkingWrapper {
    visibility: hidden;
    width: 160px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: indigo 1px solid;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 50%;
    margin-left: -80px;
  } */
  
  /* .illegalParkingWrapper.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  } */

    /* Free Parking Pop up Window: */
/* .freeParkingWrapper {
  visibility: hidden;
  width: 160px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: indigo 1px solid;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-left: -80px;
} */

/* .freeParkingWrapper.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
} */

/* Free Parking Pop up Window: */
/* .freeParkingWrapper {
  visibility: hidden;
  width: 160px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: indigo 1px solid;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-left: -80px;
} */

/* .freeParkingWrapper.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
} */

/* In Jail Pop up Window: */
/* .inJailWrapper {
  visibility: hidden;
  width: 160px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: indigo 1px solid;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-left: -80px;
} */

/* .inJailWrapper.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
} */

/* Out of Jail Pop up Window: */
/* .outOfJailWrapper {
  visibility: hidden;
  width: 160px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: indigo 1px solid;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-left: -80px;
} */

/* .outOfJailWrapper.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
} */

/* Winner Pop up Window: */
/* .winnerWrapper {
  visibility: hidden;
  width: 160px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: indigo 1px solid;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-left: -80px;
} */

/* .winnerWrapper.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
} */
/* Winner Pop up Window: */
/* .outOfGameWrapper {
  visibility: hidden;
  width: 160px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: indigo 1px solid;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-left: -80px;
} */

/* .outOfGameWrapper.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
} */

/* Chance Card Pop up Window: */
.chanceCardWrapper {
  visibility: hidden;
  width: 200px;
  height: 300px;
  border: #f0aa07 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5vh;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 35%;
  left: 50%;
  padding: 20px;
  margin-left: -15vh;
}

.chanceCardWrapper.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}
.card0{
  background-image: url("/asset/chance-card-0.svg");
  height: 88px;
  width: 66px;
}
.card1{
  background-image: url("/asset/chance-card-1.svg");
  height: 88px;
  width: 66px;
  margin: auto;
}
.card2{
  background-image: url("/asset/chance-card-2.svg");
  height: 88px;
  width: 66px;
  margin: auto;
}
.card3{
  background-image: url("/asset/chance-card-3.svg");
  height: 88px;
  width: 66px;
  margin: auto;
}
.card4{
  background-image: url("/asset/chance-card-4.svg");
  height: 88px;
  width: 66px;
  margin: auto;
}
.card5{
  background-image: url("/asset/chance-card-5.svg");
  height: 88px;
  width: 66px;
  margin: auto;
}
.card6{
  background-image: url("/asset/chance-card-6.svg");
  height: 88px;
  width: 66px;
  margin: auto;
}
.card7{
  background-image: url("/asset/chance-card-7.svg");
  height: 88px;
  width: 66px;
  margin: auto;
}
.card8{
  background-image: url("/asset/chance-card-8.svg");
  height: 88px;
  width: 66px;
  margin: auto;
}
.card9{
  background-image: url("/asset/chance-card-9.svg");
  height: 88px;
  width: 66px;
  margin: auto;
}
.CardBtns{
  border: 0px;
  visibility: hidden;
}

.CardBtns.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}